---
title: "{{ section.title }}"
{% if section.linkTitle %}linkTitle: "{{ section.linkTitle }}"{% endif %}
{% if section.description %}description: "{{ section.description }}"{% endif %}
{% if section.type %}type: "{{ section.type }}"{% endif %}
{% if section.weight%}weight: "{{ section.weight }}"{% endif %}
{% if 'cascade' in section and section.cascade.type is defined %}
cascade:
  type: "{{ section.cascade.type }}"{% endif %}
---
