name: Generate Documentation on PR

on:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]

permissions:
  contents: write
  pull-requests: write

concurrency:
  group: generate-docs-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  generate-docs:
    if: github.event.pull_request.user.login != 'dependabot[bot]'
    uses: ./.github/workflows/pull-from-bazel-build.yml
    secrets: inherit
    with:
      is_internal_pr: ${{ github.event.pull_request.head.repo.full_name == github.repository }}